.main-slider {
	position: relative;

	@media @medium {
		margin-bottom: 140px;
	}

	@media @small {
		display: block;
		margin-bottom: 60px;
	}

	@media @extrasmall {
		display: none;
	}

	&__slide {
		background: url('../img/slider/slide3.jpg') no-repeat 50% 0;
		background-size: cover;

		height: 900px;
		box-sizing: border-box;

		padding-top: 51px;
	}

	&__dark {
		height: 270px;
		background: linear-gradient(to bottom, rgba(168, 169, 173, 0.7), rgba(255, 255, 255, 0.1));
	}

	&__title {
		background: rgba(110, 110, 110, 0.6);
		color: #ffffff;

		padding: 40px 0;
		text-transform: uppercase;
		margin-bottom: 28px;
	}

	&__header {

		@media @large {
			font-size: 65px;
		}

		@media @medium {
			font-size: 55px;
		}

		@media @small {
			font-size: 45px;
		}
	}

	&__subheader {
		display: inline-block;

		@media @large {
			font-size: 36px;
		}

		@media @medium {
			font-size: 30px;
		}

		@media @small {
			font-size: 24px;
		}
	}

	&__link {
		display: inline-block;

		height: 30px;
		width: 30px;
		
		background: @red;
		border-radius: 50%;

		margin-left: 25px;
		position: relative;

		&::before {
			content: "";

			width: 8px;
			height: 8px;

			border-right: 3px solid #ffffff;
			border-bottom: 3px solid #ffffff;

			position: absolute;
			top: 11px;
			left: 10px;
			transform: rotate(-45deg);
		}
	}

	&__catalog {
		width: 100%;
		position: absolute;

		&-link {
			display: inline-block;

			font-size: 20px;
			color: #ffffff;
			background: url('../img/download.png') no-repeat 30px 50%, @red;

			text-decoration: none;
			padding: 23px 30px 23px 75px;
		}
	}
}